Flask==2.3.2
Flask-Cors==4.0.0
charset-normalizer==3.2.0
chatterbot-corpus==1.2.0
click==8.1.6
gpt-index==0.7.11.post1
gptcache==0.1.37
langchain==0.0.240
lxml==4.9.3
mypy-extensions==1.0.0
nltk==3.8.1
numpy==1.24.3
openai==0.27.4
openapi-schema-pydantic==1.2.4
packaging==23.1
pandas==2.0.1
pip==23.1.2
pydantic==1.10.7
python-dateutil==2.8.2
pytz==2023.3
regex==2023.3.23
requests==2.28.2
rsa-archer==0.1.9
setuptools==65.5.0
six==1.16.0
sympy==1.11.1
tenacity==8.2.2
tiktoken==0.3.3
torch==2.0.0
tqdm==4.65.0
typing-extensions==4.5.0
typing-inspect==0.8.0
tzdata==2023.3
urllib3==1.26.15
yarl==1.9.2
